<!-- 
  Simulate a carlike robot with the teb_local_planner irl:
  - rplidar
  - imu
  - gmapping
  - move_base
  - motor controller
  - rviz view
 -->
<launch>

	<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.1 0 0 0 0 0 base_link laser_frame 100" />
	<node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="0 0 0 0 0 0 odom base_link 100" />

	<node pkg="rplidar_ros" type="rplidarNode" name="rplidarNode"/>
	<node pkg="lidarcar"  type="odom_fake_node" name="odom_fake_node" />
	<!-- <node pkg="lidarcar"  type="imu_robot_node" name="imu_robot_node" /> -->

	<node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" >
		<param name="map_frame" value="map" />
		<param name="laser_min_dist" value="0" />
		<param name="laser_max_dist " value="10" />
		<param name="map_pub_period " value="0.5" />
	</node>

        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find lidarcar)/cfg/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find lidarcar)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find lidarcar)/cfg/carlike/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find lidarcar)/cfg/carlike/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find lidarcar)/cfg/carlike/teb_local_planner_params.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />
		<param name="transform_tolerance" value="1.5" />
		<param name="local_costmap/transform_tolerance" value="1.5" />
		<param name="global_costmap/transform_tolerance" value="1.5" />

		<param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
	</node>

	<!-- <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" >
		<param name="temporalUpdate" value="0.1" />
		<param name="maxRange" value="13.0" />
		<param name="maxUrange" value="10.0" />
	</node> -->

	<node pkg="lidarcar" type="move_robot_node" name="move_robot_node" />


	<!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find lidarcar)/cfg/rviz_navigation.rviz"/>

</launch>
