<!-- 
  Simulate a carlike robot with the teb_local_planner irl:
  - rplidar
  - imu
  - gmapping
  - move_base
  - motor controller
  - rviz view
 -->
<launch>

  <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="rqt_robot_steering">
    <param name="default_vx_max" type="double" value="0.33" />
    <param name="default_vx_min" type="double" value="-0.33" />
    <param name="default_vw_max" type="double" value="5.5" />
    <param name="default_vw_min" type="double" value="-5.5" />
  </node>

</launch>
